<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="KhabrNameh" connectionString="Data Source=(local);Initial Catalog=CharmChista;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="KhabariConnectionString" connectionString="Data Source=(LOCAL);Initial Catalog=CharmChista;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--<add name="KhabariConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Khabari_Data.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		<add name="KhabrNameh" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Khabari_Data.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
    <httpRuntime requestValidationMode="2.0" />
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
